
.new_password_container {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh; 
  background-color: #FAFAFA;
}

.new_password_card {
  box-shadow: 0px 4px 62px -4px #99ABC62E;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 30px 80px ;
  border-radius: 10px;
  height: auto;
  width: 400px;
}

.new_password_card div:first-child {
  font-family: Bari Sans Medium;
font-size: 28px;
font-weight: 700;
color: #0D0140;
padding-top: 10px;
letter-spacing: 0em;
text-align: left;

}
.tagLine{
  padding: 10px 0px;
  font-family: Bari Sans;
font-size: 14px;
font-weight: 600;
color: #484848;
letter-spacing: 0.15000000596046448px;
text-align: center;
line-height: 24px;
}
.form{
  margin: 20px 0px;
}


.input_group {
  margin-bottom: 1em;
  position: relative;
}

    .input_group div:first-child {
    /* margin-bottom: 8px;
    text-align: left; */
  
    font-family: Bari Sans Medium;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;

    color: #0D0140;
    letter-spacing: 0.25px;
    text-align: left;
    }
.inputBox{
  width: 430px;
  padding: 10px;
  border: 0.5px solid #949191;
  border-radius: 4px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input_group input {
  border: 0px solid;
  width: 430px;
  font-family: Bari Sans;
 
  background-color: transparent;
  height: 22px;
  font-weight: 400;
  font-size: 14px;
}
.input_group input[type=password] {
  
  border: 0px solid;
  width: 430px;
  
  background-color: transparent;
  height: 22px;
  font-weight: 400;
  font-size: 14px;
}
.input_group input:focus {
  
  outline: none;}
.button {
  font-family: Bari Sans;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 15px;
    width: 450px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 25px 0px;
}
/* .eye_icon{
  position: absolute;
  right: 0px; 
  top: 67%;
  transform: translateY(-50%);
} */
