html,
body {
  height: 100%;
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Bari Sams;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(238, 238, 238);
  background-color: #eaeaea;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #454545;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(15, 15, 15);
}

.h1_main {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
  font-family: 'Mulish', sans-serif;
}

.h2_main {
  font-size: 18px;
  font-weight: 900;
  margin: 0px;
  font-family: 'Mulish', sans-serif;
}

.h3_main {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  font-family: 'Mulish', sans-serif;
}

.h4_main {
  font-size: 14px;
  margin: 0px;
  font-family: 'Mulish', sans-serif;
}

.h6_main {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  color: #717171;
  font-family: 'Mulish', sans-serif;
}

.para_main {
  margin: 0;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: #7F7F7F;
  font-size: 15px;
}

.button_main {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid black;
  padding: 8px 0px 8px 0px;
  border-radius: 4px;
}

.main_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 992px) {
  .h2_main {
    font-size: 16px;
  }

  .h4_main {
    font-size: 12px;
  }
}

/* calendar */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  /* border: 1px solid #a0a096; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  color: #1E1E1F;
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-family: SF Pro Display;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: -0.05208253860473633px;
  text-decoration: none;
  text-align: center;
  color: #3C3C43;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__navigation__label span {
  font-family: SF Pro Display;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.25373542308807373px;
  text-align: left;

}

.react-calendar__month-view__days__day--neighboringMonth {
  color: white !important;
  background: white !important;
  /* display: none; */
}

.react-calendar__month-view__days__day {
  color: #999999;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #1E1E1F;
  width: 31px;
  height: 30px;
  border-radius: 4px;

}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #1E1E1F;
  color: white;
  border-radius: 4px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1E1E1F;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}